
body{

  		width: 200%;
  		height: 100%;
  		position: fixed;
  		background-repeat: no-repeat;
  		background-position: 0px 0px;
      background-color: black;
}

canvas {
  background-color: rgba(60,30,50,0);
}
